<div class="card">
  <p-table
    class="table"
    [value]="clienti"
    [loading]="loading"
    [paginator]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostra {first} su {last} di {totalRecords} {{
      label
    }}"
    [rowsPerPageOptions]="[10, 25, 50]"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between text-center">
        <h3>CLIENTI</h3>
        <div>
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              name="search"
              placeholder="Cerca"
              [(ngModel)]="search"
              (input)="loadClienti()"
            />
          </span>
        </div>
        <div class="container">
          <p-button
            (click)="Finestramodale()"
            icon="pi pi-plus"
            label="Aggiungi Clienti"
            pRipple
            [style]="{
              'background-color': 'blue',
              'border-color': 'blue',
              color: 'white'
            }"
          >
          </p-button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th class="table-col" pSortableColumn="nome">
          NOME
          <p-sortIcon field="nome"></p-sortIcon>
        </th>
        <th class="table-col" pSortableColumn="cognome">
          COGNOME
          <p-sortIcon field="cognome"></p-sortIcon>
        </th>
        <th class="table-col" pSortableColumn="eta">
          ETA
          <p-sortIcon field="eta"></p-sortIcon>
        </th>
        <th class="table-col" pSortableColumn="email">
          EMAIL
          <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th class="table-col" pSortableColumn="telefono">
          TELEFONO
          <p-sortIcon field="telefono"></p-sortIcon>
        </th>
        <th class="table-col">AZIONI</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cliente>
      <tr>
        <td class="table-col">{{ cliente.nome }}</td>
        <td class="table-col">{{ cliente.cognome }}</td>
        <td class="table-col">{{ cliente.eta | date : "dd/MM/yyyy" }}</td>
        <td class="table-col">{{ cliente.email }}</td>
        <td class="table-col">{{ cliente.telefono }}</td>
        <td class="table-col transp-bord">
          <div class="container">
            <p-button
              (click)="PrepareFinestraModale(cliente)"
              icon="pi pi-pencil"
              label=""
              pRipple
              [style]="{
                'background-color': 'blue',
                'border-color': 'blue',
                color: 'white'
              }"
            >
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [header]="lbl_header"
  [(visible)]="visibleDialog"
  [style]="{ width: '1000px' }"
  [modal]="true"
  [maximizable]="true"
  styleClass="p-fluid"
>
  <ng-template pTemplate="content">
    <form #f="ngForm">
      <div class="formgrid grid">
        <div class="field col">
          <label htmlFor="nome">NOME</label>
          <input
            type="text"
            pInputText
            id="nome"
            [(ngModel)]="clienteForm.nome"
            #nome="ngModel"
            required
            name="nome"
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': (nome.dirty || nome.touched) && nome.errors
            }"
          />
          <div
            *ngIf="(nome.dirty || nome.touched) && nome.errors"
            class="alert alert-danger"
          >
            <p-message
              severity="error"
              text="L'ID del pacchetto è obbligatorio"
              [@errorState]="nome?.errors?.['required'] ? 'visible' : 'hidden'"
            ></p-message>
          </div>
        </div>

        <div class="field col">
          <label htmlFor="cognome">COGNOME</label>
          <input
            type="text"
            pInputText
            id="cognome"
            [(ngModel)]="clienteForm.cognome"
            #cognome="ngModel"
            required
            name="cognome"
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty':
                (cognome.dirty || cognome.touched) && cognome.errors
            }"
          />
          <div
            *ngIf="(cognome.dirty || cognome.touched) && cognome.errors"
            class="alert alert-danger"
          >
            <p-message
              severity="error"
              text="cognome è obbligatorio"
              [@errorState]="cognome?.errors?.['required'] ? 'visible' : 'hidden'"
            ></p-message>
          </div>
        </div>
      </div>
      <br />
      <div class="formgrid grid">
        <div class="field col">
          <label htmlFor="eta">ETA</label>
          <input
            type="date"
            pInputText
            id="eta"
            name="eta"
            #eta="ngModel"
            [(ngModel)]="clienteForm.eta"
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty': (eta.dirty || eta.touched) && eta.errors
            }"
          />
          <div
            *ngIf="(eta.dirty || eta.touched) && eta.errors"
            class="alert alert-danger"
          >
            <p-message
              severity="error"
              text="eta è obbligatorio"
              [@errorState]="eta?.errors?.['required'] ? 'visible' : 'hidden'"
            ></p-message>
          </div>
        </div>

        <div class="field col">
          <label htmlFor="email">EMAIL</label>
          <input
            type="text"
            pInputText
            id="email"
            [(ngModel)]="clienteForm.email"
            #email="ngModel"
            required
            name="email"
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty':
                (email.dirty || email.touched) && email.errors
            }"
          />
          <div
            *ngIf="(email.dirty || email.touched) && email.errors"
            class="alert alert-danger"
          >
            <p-message
              severity="error"
              text="email @ è obbligatoria"
              [@errorState]="email?.errors?.['required'] ? 'visible' : 'hidden'"
            ></p-message>
          </div>
        </div>
      </div>
      <br />
      <div class="formgrid grid">
        <div class="field col">
          <label htmlFor="telefono">TELEFONO</label>
          <input
            type="text"
            pInputText
            id="telefono"
            [(ngModel)]="clienteForm.telefono"
            #telefono="ngModel"
            required
            name="telefono"
            autofocus
            [ngClass]="{
              'ng-invalid ng-dirty':
                (telefono.dirty || telefono.touched) && telefono.errors
            }"
          />
          <div
            *ngIf="(telefono.dirty || telefono.touched) && telefono.errors"
            class="alert alert-danger"
          >
            <p-message
              severity="error"
              text="telefono è obbligatorio"
              [@errorState]="telefono?.errors?.['required'] ? 'visible' : 'hidden'"
            ></p-message>
          </div>
        </div>
      </div>
      <br />
      <div class="flex-parent jc-center">
        <button
          pButton
          type="submit"
          [label]="lblBtnSubmit"
          (click)="salvacliente(clienteForm._id)"
          class="p-button-success mb-3 mr-3 button-size"
        ></button>
        <button
          pButton
          type="button"
          label="Elimina"
          (click)="eliminacliente(clienteForm._id)"
          class="p-button-danger mb-3 mr-3 button-size"
          [disabled]="nascondiTastoElimina"
        ></button>
        <button
          pButton
          type="button"
          label="Annulla"
          (click)="annulla()"
          class="p-button-secondary mb-3 button-size"
        ></button>
        <div *ngIf="errorOccurred" [ngClass]="errorOccurred ? 'ng-errors' : ''">
          {{ message }}
        </div>
      </div>
    </form>
  </ng-template>
</p-dialog>
